@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: $firmcolor;
  min-width: 320px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 17px;
    line-height: 30px;
  }

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.blackout {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 500;
}

.blackout--show {
  display: block;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  font-family: inherit;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: $firmcolor;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $firmcolor;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $firmcolor;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $firmcolor;
  }
}
