$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$firmcolor: #444444;
$blgreen: #63d1bb;
$d-blgreen: #56c3b2;
$border-color: #ececec;
$lightgrey-mod: #e5e5e5;
$darkgrey-mod: #bec2c7;
$green-mod: #2aab6d;
$green-active: #1c9b5e;
$footer-hover: #46c1ae;
$editoricon-fill: #b5b9be;
$editoricon-hover: #8d949b;
$setborder: 2px solid #e5e5e5;
$minifont: 12px;
$ttlfont: 18px;
$maxline-h: 30px;
$line-auto: 1.2em;
$cancel-btn: #dddfe0;
$cancel-btn-hover: #c4c6c8;
$cancel-btn-active: #ccced2;
$slider-hover: #7e868f;
$slider-active: rgba(190, 194, 199, 0.3);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
