.social-list {
  display: flex;
  justify-content: space-between;
  width: 145px;

  @include list-unstyle;
}

.social-list__item {
  display: block;

  &:first-child,
  &:last-child {
    padding-top: 5px;
  }
}

.social-list__link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  outline: none;

  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: $footer-hover;
  }

  &:active .social-list__icon {
    fill: $footer-hover;
    opacity: 0.3;
  }
}

// .social-list__item:nth-child(2) {
//   padding-left: 25px;
//   padding-right: 25px;
// }
