@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  min-width: 320px;
  margin: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 768px) {
  body {
    font-size: 17px;
    line-height: 30px; }
  .container {
    padding-left: 50px;
    padding-right: 50px; } }

.blackout {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 500; }

.blackout--show {
  display: block; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.button {
  display: block;
  font-family: inherit;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #444444;
  background-color: transparent;
  outline: none;
  cursor: pointer; }
  .button:hover, .button:focus {
    color: #ffffff;
    background-color: #444444; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444; }

.page-header {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  z-index: 100; }

.page-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  margin-left: -30px;
  margin-right: -30px; }

.page-header__logo {
  margin: 0 auto;
  padding-left: 50px;
  outline: none; }
  .page-header__logo:hover .page-header__logo-icon,
  .page-header__logo:focus .page-header__logo-icon {
    opacity: 0.7; }
  .page-header__logo:active .page-header__logo-icon {
    opacity: 0.3; }

.page-header__logo-icon--tablet,
.page-header__logo-icon--desktop {
  display: none; }

.page-header__logo--nojs {
  padding-left: 0; }

.page-header__toggle {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 20px;
  height: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }

.page-header__toggle--nojs {
  display: none; }

.page-header__toggle-icon {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #444444;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .page-header__toggle-icon::before, .page-header__toggle-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .page-header__toggle-icon::before {
    top: 10px; }
  .page-header__toggle-icon::after {
    bottom: 8px; }

.page-header__toggle-icon--cross {
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .page-header__toggle-icon--cross::before {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .page-header__toggle-icon--cross::after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.page-header__nav-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  overflow-x: hidden;
  background-color: #ffffff; }

.page-header__nav-wrapper--opened {
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s; }

.page-header__nav-wrapper--closed {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.page-header__nav-wrapper--nojs {
  position: static;
  display: block; }

.page-header__note {
  display: none; }

@media (min-width: 768px) {
  .page-header {
    min-height: 90px;
    border-bottom: 1px solid #ececec; }
  .page-header__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-header__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 48.06%;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0; }
  .page-header__logo {
    padding-left: 0;
    margin-left: 0;
    margin-right: auto; }
  .page-header__logo-icon--mobile {
    display: none; }
  .page-header__logo-icon--tablet {
    display: block; }
  .page-header__toggle {
    display: none; }
  .page-header__nav-wrapper {
    position: static;
    visibility: visible;
    z-index: 0;
    background-color: transparent;
    width: 51.94%;
    -webkit-transform: none;
            transform: none; }
  .page-header__note {
    display: block;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 105px;
    font-size: 15px;
    margin: 0; } }

@media (min-width: 1150px) {
  .page-header__title {
    position: absolute;
    left: 43%;
    right: 0;
    top: 0;
    z-index: 200;
    width: 19.05%;
    padding-top: 8px;
    padding-bottom: 0;
    border-right: none; }
  .page-header__logo-icon--tablet {
    display: none; }
  .page-header__logo-icon--desktop {
    display: block; }
  .page-header__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .page-header__note {
    top: 104px; } }

.main-nav__menu {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0; }

.main-nav__item {
  display: block;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px; }

.main-nav__item--search,
.main-nav__item--cart {
  position: relative; }

.main-nav__icon {
  position: absolute;
  left: 30px;
  top: 34px;
  fill: #d3d2d2; }

.main-nav__link {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  vertical-align: middle;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  outline: none; }
  .main-nav__link:hover, .main-nav__link:focus {
    opacity: 0.6; }
  .main-nav__link:hover .main-nav__icon,
  .main-nav__link:focus .main-nav__icon {
    fill: #63d1bb;
    opacity: 1; }
  .main-nav__link:active {
    opacity: 0.3; }

.main-nav__item--search .main-nav__caption {
  margin-left: -20px; }

.main-nav__item--cart .main-nav__caption {
  margin-left: 15px; }

@media (min-width: 768px) {
  .main-nav--pages {
    position: absolute;
    top: 102px;
    left: 0; }
  .main-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav--pages .main-nav__item {
    text-align: left;
    width: 167px; }
  .main-nav--pages .main-nav__link {
    font-size: 15px; }
  .main-nav--user .main-nav__item {
    padding-top: 31px;
    padding-bottom: 27px; }
  .main-nav__item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none; }
  .main-nav__link {
    padding-top: 0;
    padding-bottom: 0; }
  .main-nav__item--search {
    width: 23.63%;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec; }
    .main-nav__item--search .main-nav__caption {
      display: none; }
  .main-nav__item--cart {
    margin-left: auto; }
  .main-nav__icon {
    position: static; }
    .main-nav__icon--cart {
      margin-right: 11px; } }

@media (min-width: 1150px) {
  .main-nav {
    width: 40.48%; }
  .main-nav--pages {
    position: static; }
  .main-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .main-nav--pages .main-nav__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .main-nav--pages .main-nav__item {
    width: 44%; }
    .main-nav--pages .main-nav__item--catalog {
      border-right: 1px solid #ececec; }
    .main-nav--pages .main-nav__item--form {
      text-align: right; }
  .main-nav--pages .main-nav__link {
    font-size: 17px; }
  .main-nav--user .main-nav__menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .main-nav--user .main-nav__item {
    padding-top: 0;
    padding-bottom: 0; }
  .main-nav__item--search {
    width: 19.76%;
    border-left: 1px solid #ececec; }
  .main-nav__item--cart {
    width: 62.35%;
    margin-left: 0; }
    .main-nav__item--cart .main-nav__link {
      text-align: right; }
  .main-nav__link {
    padding-top: 28px;
    padding-bottom: 31px; }
  .main-nav__link--active {
    background-image: linear-gradient(to bottom, transparent 77px, #ffffff 77px, #ffffff 78px, transparent 78px); }
    .main-nav__link--active:hover, .main-nav__link--active:focus {
      color: #ffffff; }
    .main-nav__link--active:active {
      opacity: 1; } }

.breadcrumbs {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0; }

@media (min-width: 1150px) {
  .breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    left: 0;
    top: 104px;
    z-index: 10;
    width: 38.1%; }
  .breadcrumbs__item {
    text-align: left;
    width: 180px; }
  .breadcrumbs__item-link {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    font-weight: 600; }
    .breadcrumbs__item-link:hover, .breadcrumbs__item-link:focus {
      opacity: 0.6; }
    .breadcrumbs__item-link:active {
      opacity: 0.3; } }

.index-head {
  max-width: 1150px;
  margin: 0 auto;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -15%; }

.index-head__breadcrumbs {
  display: none; }

.index-head__top {
  text-align: center; }

.index-head__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  font-size: 27px;
  padding-top: 70px;
  padding-bottom: 122px;
  margin: 0; }

.index-head__button {
  display: block;
  min-height: 103px;
  margin-left: -30px;
  margin-right: -30px; }
  .index-head__button--interior {
    background-color: #63d1bb; }
  .index-head__button--toys {
    background-color: #56c3b2; }
  .index-head__button:hover .index-head__btn-title,
  .index-head__button:focus .index-head__btn-title,
  .index-head__button:hover .index-head__btn-icon,
  .index-head__button:focus .index-head__btn-icon {
    opacity: 0.3; }

.index-head__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px; }

.index-head__btn-title {
  font-size: 19px;
  color: #ffffff;
  width: 37.5%;
  margin-top: 25px;
  margin-bottom: 30px; }

.index-head__btn-icon {
  fill: #3bb09d;
  width: 56px; }

@media (min-width: 768px) {
  .index-head {
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0; }
    .index-head::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 31px;
      background-image: url("../img/zigzag-fill-tablet.png"); }
  .index-head__breadcrumbs {
    display: block; }
  .index-head__list {
    display: none; }
  .index-head__title {
    padding-top: 151px;
    padding-bottom: 373px;
    font-size: 43px;
    line-height: 50px; }
  .index-head__btn-wrapper {
    padding-left: 36px;
    padding-right: 31px;
    padding-top: 4px; }
  .index-head__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px; }
  .index-head__button {
    width: 50%;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0; }
    .index-head__button:hover, .index-head__button:focus {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
  .index-head__btn-title {
    font-size: 20px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .index-head {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 50% -33px;
    background-size: 108%; }
    .index-head::after {
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg"); }
  .index-head__title {
    padding-top: 150px;
    padding-bottom: 361px;
    font-size: 53px;
    line-height: 57px; } }

.best-product {
  position: relative;
  padding-bottom: 127px; }

.best-product__product-name {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 6px; }

.best-product__subtitle {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  margin-top: 0;
  margin-bottom: 22px; }

.best-product__text {
  height: 72px; }

.best-product__options {
  width: 100%;
  margin-bottom: 28px;
  border-spacing: 0; }
  .best-product__options td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ececec; }

.best-product__option {
  width: 36.54%; }

.best-product__image {
  display: block;
  width: 100%;
  margin: 0 auto; }

.best-product__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 27px; }

.best-product__price {
  font-size: 17px; }

.best-product__order-btn {
  font-size: 17px;
  width: 260px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .best-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 133px;
    padding-bottom: 0;
    margin-bottom: 50px; }
  .best-product__card {
    position: relative;
    width: 43.41%; }
  .best-product__title {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .best-product__product-name {
    font-size: 43px;
    line-height: 50px;
    margin-top: 26px; }
  .best-product__subtitle {
    text-align: center;
    line-height: 17px;
    width: 75px;
    margin-right: 25px;
    margin-top: 27px;
    margin-bottom: 0; }
  .best-product__text {
    font-size: 17px;
    margin-top: -8px;
    margin-bottom: 52px; }
  .best-product__options {
    font-size: 15px; }
    .best-product__options td {
      padding-top: 6px;
      padding-bottom: 4px; }
  .best-product__option {
    width: 33.5%; }
  .best-product__illustration {
    width: 50%; }
  .best-product__price {
    font-size: 20px; }
  .best-product__order-btn {
    width: 100%;
    margin-top: 29px; } }

@media (min-width: 1150px) {
  .best-product {
    padding-top: 0;
    margin-top: 50px;
    margin-bottom: 73px; }
  .best-product__card {
    position: relative; }
  .best-product__title {
    position: absolute;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%; }
  .best-product__product-name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 53px;
    font-size: 53px;
    line-height: 57px; }
  .best-product__subtitle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 53px; }
  .best-product__description {
    width: 64.84%;
    margin-top: 167px;
    margin-left: 175px; }
  .best-product__text {
    margin-bottom: 66px; }
  .best-product__footer {
    width: 64.84%;
    margin-top: 30px;
    margin-left: 175px; } }

.features {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 13px;
  margin-top: 34px; }
  .features::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 7px;
    background-image: url("../img/zigzag-line-mobile.png"); }

.features__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  margin-bottom: 32px; }

.features__icon {
  fill: #63d1bb; }

.features__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  color: #2E2121;
  margin-bottom: 0; }

.features__block {
  margin-bottom: 31px; }
  .features__block--flower .features__icon {
    margin-left: 8px; }
  .features__block--flower .features__text {
    width: 75%;
    margin-top: 11px; }
  .features__block--money .features__text {
    width: 80%; }
  .features__block--heart .features__icon {
    margin-left: 7px; }
  .features__block--heart .features__text {
    width: 75%; }
  .features__block--ball .features__icon {
    margin-left: 3px; }
  .features__block--ball .features__text {
    width: 85%; }
  .features__block--gift .features__icon {
    margin-left: 3px; }
  .features__block--gift .features__text {
    width: 80%; }

@media (min-width: 768px) {
  .features {
    padding-top: 67px;
    margin-bottom: 27px;
    margin-top: 0; }
    .features::before {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.png"); }
  .features__title {
    margin-top: 0;
    margin-bottom: 51px;
    font-size: 43px;
    line-height: 50px; }
  .features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .features__column {
    width: 50%; }
  .features__block {
    margin-bottom: 56px; }
    .features__block--flower .features__text {
      width: 65%; }
    .features__block--money .features__text {
      width: 75%; }
    .features__block--heart .features__text {
      width: 70%; }
    .features__block--ball .features__text {
      margin-top: 11px; }
    .features__block--rocket .features__icon {
      margin-top: 7px; }
  .features__text {
    font-size: 20px; } }

@media (min-width: 1150px) {
  .features {
    padding-top: 85px;
    margin-bottom: 36px; }
    .features::before {
      height: 23px;
      background-image: url("../img/bg-zigzag-line.svg"); }
  .features__title,
  .features__wrapper {
    padding-left: 175px;
    padding-right: 175px; }
  .features__title {
    font-size: 53px;
    line-height: 57px; }
  .features__block--money .features__text {
    width: 70%; }
  .features__block--heart .features__text {
    width: 65%;
    margin-top: 14px; }
  .features__block--heart .features__icon {
    margin-left: 12px;
    margin-top: 9px; } }

.reviews {
  position: relative;
  padding-bottom: 50px;
  max-width: 1150px;
  margin: 0 auto;
  overflow-x: hidden; }
  .reviews::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 7px;
    background-image: url("../img/zigzag-line-mobile.png"); }

.reviews__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  margin-top: 56px;
  margin-bottom: 24px; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@-webkit-keyframes unslide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes unslide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes unslide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes unslide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.reviews__card--hide {
  display: none; }

.reviews__card--show-to-left {
  -webkit-animation-name: unslide-left;
          animation-name: unslide-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.reviews__card--show-to-right {
  -webkit-animation-name: unslide-right;
          animation-name: unslide-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.reviews__text {
  line-height: 30px;
  min-height: 210px; }

.reviews__author {
  color: #000000;
  margin-top: 26px;
  margin-bottom: 0; }

.reviews__nickname {
  font-size: 17px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 31px; }

.reviews__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__nav-button {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer; }
  .reviews__nav-button:hover .reviews__nav-button-icon,
  .reviews__nav-button:focus .reviews__nav-button-icon {
    opacity: 0.6; }
  .reviews__nav-button:active .reviews__nav-button-icon {
    opacity: 0.3; }

.reviews__button {
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  margin-top: 38px; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    padding-bottom: 101px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat; }
    .reviews::after {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.png"); }
  .reviews__title {
    padding-top: 78px;
    margin-top: 0;
    margin-bottom: 31px;
    font-size: 43px;
    line-height: 50px; }
  .reviews__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reviews__text {
    min-height: 90px;
    margin-bottom: 54px; }
  .reviews__author {
    font-size: 18px; }
  .reviews__nickname {
    margin-top: 0; }
  .reviews__navigation {
    position: absolute;
    bottom: 32px;
    right: 0;
    width: 175px; }
  .reviews__nav-button {
    border: none; }
  .reviews__button {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 17px;
    width: 175px;
    margin-top: 40px; } }

@media (min-width: 1150px) {
  .reviews {
    padding-bottom: 153px;
    background-position-x: 50px; }
    .reviews::after {
      height: 23px;
      background-image: url("../img/bg-zigzag-line.svg"); }
  .reviews__wrapper {
    padding-left: 175px; }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 71px; }
  .reviews__text {
    width: 90%;
    min-height: 120px;
    margin-bottom: 12px; }
  .reviews__author {
    font-size: 17px;
    margin-top: 35px; } }

.contacts__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  font-size: 18px;
  margin-top: 36px; }

.contacts__flag {
  display: none; }

.contacts__info {
  padding-bottom: 23px; }

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contacts__block--mail .contacts__text {
    width: 185px;
    border-bottom: 1px solid #63d1bb; }

.contacts__type {
  padding-right: 27px; }

.contacts__text {
  line-height: 30px;
  width: 55%;
  margin-right: auto;
  margin-top: 12px; }

.contacts__link {
  color: inherit;
  margin-right: auto; }
  .contacts__link:hover .contacts__text,
  .contacts__link:focus .contacts__text {
    color: #63d1bb;
    border-bottom-color: transparent; }
  .contacts__link:active .contacts__text {
    opacity: 0.3;
    border-bottom-color: #63d1bb; }

.contacts__map {
  height: 457px;
  margin-left: -30px;
  margin-right: -30px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat; }

.contacts__interactive-map {
  width: 100%;
  height: 457px; }

.contacts__button {
  font-size: 18px;
  width: 100%;
  padding-bottom: 13px;
  margin-top: 40px;
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .contacts {
    position: relative;
    padding-top: 46px; }
  .contacts__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contacts__title {
    padding-top: 15px;
    margin-top: 0;
    font-size: 43px;
    line-height: 50px; }
  .contacts__flag {
    display: block; }
  .contacts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-bottom: 17px; }
  .contacts__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%; }
    .contacts__block--mail .contacts__text {
      width: 205px;
      border-bottom: 1px solid #63d1bb; }
  .contacts__text {
    width: 70%;
    margin-right: 0; }
  .contacts__link {
    margin-right: 0; }
  .contacts__type {
    padding-right: 25px;
    margin-top: 13px; }
  .contacts__map {
    margin-left: -50px;
    margin-right: -50px;
    background-image: url("../img/map-tablet@1x.jpg"); }
  .contacts__button {
    font-size: 17px;
    width: 230px;
    margin: 55px auto; } }

@media (min-width: 1150px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 105px; }
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 44.76%;
    padding-top: 56px; }
  .contacts__head {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%; }
  .contacts__title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 65px;
    margin-bottom: 0;
    font-size: 53px;
    line-height: 57px; }
  .contacts__flag {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 60px; }
  .contacts__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 27px; }
  .contacts__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 62.77%; }
    .contacts__block--mail .contacts__text {
      width: 216px; }
  .contacts__text {
    width: 75%; }
  .contacts__map {
    width: 50%;
    margin-left: 0;
    margin-right: 0; }
  .contacts__button {
    position: absolute;
    left: 16.7%;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; } }

.page-head {
  max-width: 1150px;
  margin: 0 auto;
  background-color: #f1f1f1; }

.page-head__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  font-size: 27px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 75px;
  margin-top: 0;
  margin-bottom: 0; }

@media (min-width: 768px) {
  .page-head {
    position: relative; }
    .page-head::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("../img/zigzag-fill-tablet.png"); }
  .page-head__title {
    padding-top: 94px;
    padding-bottom: 92px;
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .page-head::after {
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg"); }
  .page-head__title {
    font-size: 53px;
    padding-bottom: 126px; } }

.catalog {
  margin-top: 30px; }

@media (min-width: 768px) {
  .catalog {
    margin-top: 67px; } }

@media (min-width: 1150px) {
  .catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -51px;
    margin-top: 111px; } }

.product {
  margin-bottom: 30px;
  cursor: pointer; }
  .product:hover, .product:focus {
    -webkit-box-shadow: 1px 5px 5px 0 #e8e8e8;
            box-shadow: 1px 5px 5px 0 #e8e8e8; }
  .product:active {
    -webkit-box-shadow: 0 2px 5px 0 #e8e8e8;
            box-shadow: 0 2px 5px 0 #e8e8e8; }

.product__image {
  display: block;
  width: 100%; }

.product__wrapper {
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid #ececec; }

.product__title {
  font-size: 17px;
  color: #000000;
  margin-top: 28px;
  margin-bottom: 7px; }
  .product__title:hover, .product__title:focus {
    opacity: 0.6; }
  .product__title:active {
    opacity: 0.3; }

.product__description {
  font-size: 13px;
  padding-bottom: 22px;
  margin-top: 0;
  margin-bottom: 0; }

.product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 28px;
  border-top: 1px solid #ececec; }

.product__price {
  color: #000000; }

.product__order-button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer; }
  .product__order-button:hover .product__cart-icon,
  .product__order-button:focus .product__cart-icon {
    fill: #63d1bb; }
  .product__order-button:active .product__cart-icon {
    opacity: 0.3; }

.product__cart-icon {
  fill: #cccccc; }

@media (min-width: 768px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px; }
  .product__illustration {
    width: 50%; }
  .product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    border: 1px solid #ececec; }
  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    width: 85%;
    margin-top: 25px;
    margin-bottom: 5px; }
  .product__description {
    font-size: 15px; }
  .product__footer {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 19px;
    margin-top: auto;
    margin-bottom: 23px; } }

@media (min-width: 1150px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc(33.33% - 34px);
        flex-basis: calc(33.33% - 34px);
    margin-right: 51px; }
  .product__illustration {
    width: 100%; }
  .product__wrapper {
    width: 100%; }
  .product__head {
    min-height: 123px; }
  .product__title {
    width: 90%;
    margin-bottom: 0; }
  .product__description {
    padding-bottom: 15px;
    margin-top: 6px; }
  .product__footer {
    padding-left: 0; } }

.production {
  position: relative;
  padding-top: 95px;
  margin-bottom: 60px;
  border: 1px solid #ececec;
  cursor: pointer; }
  .production:hover, .production:focus {
    -webkit-box-shadow: 1px 5px 5px 0 #e8e8e8;
            box-shadow: 1px 5px 5px 0 #e8e8e8; }
  .production:active {
    -webkit-box-shadow: 0 2px 5px 0 #e8e8e8;
            box-shadow: 0 2px 5px 0 #e8e8e8; }

.production__notice {
  padding-left: 35px;
  padding-right: 35px; }

.production__head {
  position: absolute;
  top: 0;
  left: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.production__title-icon {
  fill: #63d1bb; }

.production__title {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  margin-left: 23px;
  margin-top: 23px;
  width: 200px; }

.production__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.production__icon-play {
  margin: auto;
  cursor: pointer; }
  .production__icon-play:hover, .production__icon-play:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .production__icon-play:active {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }

.production__footer {
  margin-bottom: 30px; }

.production__text {
  font-size: 13px;
  margin-top: 26px;
  margin-bottom: 25px; }

.production__button {
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  padding-top: 17px; }

@media (min-width: 768px) {
  .production {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0; }
  .production__notice {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 33px; }
  .production__video {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-position: 0 0; }
  .production__head {
    position: static;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 11px; }
  .production__title {
    font-size: 20px;
    line-height: 24px;
    width: 85%;
    margin-left: 33px;
    margin-top: 0;
    margin-bottom: 0; }
  .production__text {
    font-size: 15px;
    margin-top: 28px;
    margin-bottom: 35px; }
  .production__footer {
    margin-bottom: 45px; } }

@media (min-width: 1150px) {
  .production {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 104px; }
  .production__video {
    width: 64.95%; }
  .production__notice {
    width: 35.05%;
    padding-left: 79px;
    padding-right: 57px; }
  .production__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .production__title {
    width: 90%;
    margin-left: 0;
    margin-top: 20px; }
  .production__text {
    margin-top: 35px;
    margin-bottom: 45px; } }

.fields {
  padding-top: 15px; }

.fields__text {
  font-size: 13px;
  margin-top: 8px; }

.fields__set {
  position: relative;
  padding-top: 35px;
  margin-top: 37px;
  border-top: 1px solid #63d1bb; }

.fields__set--radio {
  margin-top: 32px; }

.fields__set--checkboxes {
  margin-top: 48px; }

.fields__set--personal {
  margin-top: 46px; }

.fields__set--contacts {
  padding-top: 0;
  margin-top: 41px;
  border: none; }
  .fields__set--contacts .fields__title {
    top: -10px; }

.fields__title {
  position: absolute;
  top: -27px;
  left: 0;
  display: inline-block;
  width: 60px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  color: #63d1bb;
  text-transform: uppercase;
  background-color: #ffffff; }

.fields__line {
  margin-bottom: 23px; }

.fields__label {
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: #000000; }

.fields__textfield {
  font-family: inherit;
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none; }
  .fields__textfield:hover, .fields__textfield:focus, .fields__textfield:active {
    border-bottom-color: #63d1bb; }

.fields__contacts-block {
  position: relative;
  padding-top: 20px;
  margin-bottom: 41px;
  border-top: 1px solid #63d1bb; }
  .fields__contacts-block .fields__box {
    position: relative; }
  .fields__contacts-block--mail .fields__title {
    width: 85px; }
  .fields__contacts-block .fields__textfield:hover + .fields__contact-icon,
  .fields__contacts-block .fields__textfield:focus + .fields__contact-icon,
  .fields__contacts-block .fields__textfield:active + .fields__contact-icon {
    fill: #63d1bb; }

.fields__contact-icon {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: inline-block;
  fill: #cccccc; }

.fields__textarea {
  font-family: inherit;
  width: 100%;
  height: 140px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #444444;
  resize: none;
  outline: none; }
  .fields__textarea:hover, .fields__textarea:focus, .fields__textarea:active {
    border-color: #63d1bb; }

.fields__button-block {
  margin-bottom: 55px; }

.fields__note {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 26px; }

.fields__button {
  font-size: 17px;
  width: 100%; }

@media (min-width: 768px) {
  .fields {
    padding-top: 45px; }
  .fields__text {
    font-size: 17px;
    margin-top: 15px; }
  .fields__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 50px;
    border-top: none; }
    .fields__set .fields__title {
      position: static;
      width: 25%; }
  .fields__set--grey {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f1f1f1; }
    .fields__set--grey .fields__title {
      background-color: #f1f1f1; }
  .fields__set--radio {
    margin-top: 8px; }
    .fields__set--radio .fields__title {
      margin-top: 8px; }
  .fields__set--checkboxes {
    padding-bottom: 16px;
    margin-top: 14px; }
  .fields__set--personal {
    margin-top: 2px; }
    .fields__set--personal .fields__label {
      font-size: 19px; }
  .fields__textfield {
    height: 50px;
    font-size: 20px;
    padding-left: 14px; }
  .fields__box {
    width: 75%; }
  .fields__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 26px; }
    .fields__line .fields__label {
      padding-right: 28px;
      padding-bottom: 5px; }
  .fields__set--contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 27px;
    margin-top: 23px; }
    .fields__set--contacts .fields__title {
      margin-top: 16px; }
  .fields__contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: none;
    padding-top: 3px;
    margin-bottom: 23px; }
    .fields__contacts-block .fields__textfield {
      background-color: #f1f1f1; }
  .fields__contact-icon {
    right: 23px; }
  .fields__set--description {
    padding-top: 0;
    margin-top: 50px; }
  .fields__textarea {
    font-size: 19px; }
  .fields__button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    margin-bottom: 41px; }
  .fields__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 230px; }
  .fields__note {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 18px; } }

@media (min-width: 1150px) {
  .fields__text {
    margin-top: 60px; }
  .fields__text,
  .fields__button-block {
    padding-left: 175px;
    padding-right: 175px; }
  .fields__set {
    padding-right: 175px; }
    .fields__set--grey {
      padding-right: 225px; }
    .fields__set .fields__title {
      width: 20.24%;
      text-align: center;
      padding-right: 12px; }
  .fields__box {
    width: 80%; }
  .fields__set--checkboxes {
    padding-top: 45px;
    padding-right: 150px;
    margin-top: 10px; }
    .fields__set--checkboxes .fields__title {
      width: 18.3%;
      margin-top: 26px; }
    .fields__set--checkboxes .fields__box {
      width: 75%; }
  .fields__contact-icon {
    right: 0; }
  .fields__textarea {
    height: 143px; }
  .fields__button-block {
    width: 100%;
    margin-top: 35px; } }

.type-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 48px; }

.type-list__item {
  margin-bottom: 18px; }

.type-list__input {
  display: none; }

.type-list__label {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  width: 85%;
  min-height: 35px;
  padding-left: 60px;
  outline: none;
  cursor: pointer; }
  .type-list__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    border-radius: 50%;
    cursor: pointer; }
  .type-list__label:hover::before, .type-list__label:focus::before {
    border-color: #63d1bb; }
  .type-list__label:active::before {
    border-color: #e1e1e1; }

.type-list__input:checked + label::before {
  background-image: url("../img/radio-pin.png");
  background-position: center;
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .type-list {
    margin-top: 0; }
  .type-list__item {
    margin-bottom: 45px; }
    .type-list__item:last-child {
      margin-bottom: 0; }
  .type-list__label {
    font-size: 19px;
    padding-left: 80px;
    min-height: 0; }
    .type-list__label::before {
      top: -15px;
      width: 52px;
      height: 52px; }
  .type-list__input:checked + label::before {
    background-image: url("../img/radio-pin-tablet.png"); } }

.color-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 6px; }

.color-list__item {
  margin-bottom: 37px; }

.color-list__input {
  display: none; }

.color-list__label {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  width: 77%;
  padding-left: 60px;
  outline: none;
  cursor: pointer; }
  .color-list__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    cursor: pointer; }
  .color-list__label:hover::before, .color-list__label:focus::before {
    border-color: #63d1bb; }
  .color-list__label:active::before {
    border-color: #e1e1e1; }

.color-list__input:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .color-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 10px; }
  .color-list__item {
    width: 50%;
    margin-bottom: 46px; }
    .color-list__item:nth-child(2n) {
      width: 47%;
      margin-left: 12px; }
  .color-list__label {
    font-size: 19px;
    padding-left: 80px; }
    .color-list__label::before {
      top: -15px;
      width: 54px;
      height: 52px; } }

@media (min-width: 1150px) {
  .color-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 18px; }
  .color-list__item {
    width: 26%; }
    .color-list__item:nth-child(2n) {
      width: 26%;
      margin-left: 0; } }

.page-footer {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f1f1f1; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0; }

.page-footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px; }

.page-footer__logo {
  display: none;
  outline: none;
  cursor: pointer; }
  .page-footer__logo:hover .page-footer__icon,
  .page-footer__logo:focus .page-footer__icon {
    fill: #46c1ae; }
  .page-footer__logo:active .page-footer__icon {
    fill: #46c1ae;
    opacity: 0.3; }

.page-footer__icon--desktop {
  display: none; }

.page-footer__social {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5; }

.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  cursor: pointer; }
  .page-footer__copyright:hover .page-footer__academy-link,
  .page-footer__copyright:focus .page-footer__academy-link {
    fill: #46c1ae; }
  .page-footer__copyright:active {
    opacity: 0.3; }

.page-footer__academy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #63d1bb;
  outline: none; }

.page-footer__developed {
  display: inline-block;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  font-weight: 600;
  vertical-align: top;
  padding-right: 28px;
  margin-top: 4px; }

@media (min-width: 768px) {
  .page-footer {
    padding-top: 0;
    padding-bottom: 0; }
  .page-footer--index {
    display: block; }
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 51px;
    padding-bottom: 51px; }
  .page-footer__logo {
    display: block; }
  .page-footer__icon {
    display: block;
    margin-right: auto; }
  .page-footer__logo,
  .page-footer__copyright {
    width: 27%; }
  .page-footer__social {
    width: 50%;
    padding-bottom: 0;
    border-bottom: none; }
  .page-footer__copyright {
    margin-top: 0; }
  .page-footer__developed {
    font-size: 19px; }
  .page-footer__academy-link {
    margin-top: 10px; } }

@media (min-width: 1150px) {
  .page-footer__icon {
    margin-right: auto; }
  .page-footer__logo {
    width: 16.3%; }
  .page-footer__copyright {
    width: 17.7%; }
  .page-footer__academy-link {
    margin-top: 8px; }
  .page-footer__developed {
    padding-left: 0; } }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 145px;
  list-style: none;
  padding: 0;
  margin: 0; }

.social-list__item {
  display: block; }
  .social-list__item:first-child, .social-list__item:last-child {
    padding-top: 5px; }

.social-list__link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  outline: none; }
  .social-list__link:hover .social-list__icon,
  .social-list__link:focus .social-list__icon {
    fill: #46c1ae; }
  .social-list__link:active .social-list__icon {
    fill: #46c1ae;
    opacity: 0.3; }

.modal {
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid #ececec;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 #c6c6c6;
          box-shadow: 0 5px 10px 0 #c6c6c6; }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  10% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%); }
  20% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%); }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes jump {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  10% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%); }
  20% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%); }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.modal--show {
  display: block;
  height: auto;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.modal--close {
  display: none; }

.modal__head {
  position: relative; }

.modal__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  margin: 20px auto; }

.modal__close-button {
  position: absolute;
  right: 0;
  top: 4px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer; }
  .modal__close-button:hover, .modal__close-button:focus {
    opacity: 0.7; }
  .modal__close-button:active {
    opacity: 0.3; }

.modal__text {
  text-align: center; }

.modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0; }

.modal__input {
  display: none; }

.modal__label {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  width: 82px;
  height: 50px;
  padding-top: 15px;
  border: 2px solid #ececec;
  outline: none;
  cursor: pointer; }
  .modal__label:hover, .modal__label:focus {
    border-color: #c7c7c7; }
  .modal__label:active {
    border-color: #63d1bb; }

.modal__input:checked + label {
  border-color: #63d1bb; }

.modal__button {
  font-family: inherit;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
  background-color: #63d1bb;
  border: none;
  outline: none;
  cursor: pointer; }
  .modal__button:hover, .modal__button:focus {
    opacity: 0.6; }
  .modal__button:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .modal {
    width: 570px; }
    .modal .container {
      padding-left: 110px;
      padding-right: 110px; }
  .modal--success {
    width: 470px; }
  .modal__title {
    width: 100%; }
  .modal__close-button {
    right: -85px;
    top: 0; }
  .modal__label {
    width: 112px; } }
