.best-product {
  position: relative;
  padding-bottom: 127px;
}

.best-product__product-name {
  @include ttl-style;

  margin-top: 27px;
  margin-bottom: 6px;

}

.best-product__subtitle {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $blgreen;
  margin-top: 0;
  margin-bottom: 22px;
}

.best-product__text {
  height: 72px;
}

.best-product__options {
  width: 100%;
  margin-bottom: 28px;
  border-spacing: 0;

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;
  }
}

.best-product__option {
  width: 36.54%;
}

.best-product__image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.best-product__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 27px;
}

.best-product__price {
  font-size: 17px;
}

.best-product__order-btn {
  font-size: 17px;
  width: 260px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .best-product {
    display: flex;
    justify-content: space-between;
    padding-top: 133px;
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .best-product__card {
    position: relative;
    width: 43.41%;
  }

  .best-product__title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .best-product__product-name {
    @include ttl-style-tablet;

    margin-top: 26px;
  }

  .best-product__subtitle {
    text-align: center;
    line-height: 17px;
    width: 75px;
    margin-right: 25px;
    margin-top: 27px;
    margin-bottom: 0;
  }

  .best-product__text {
    font-size: 17px;
    margin-top: -8px;
    margin-bottom: 52px;
  }

  .best-product__options {
    font-size: 15px;

    td {
      padding-top: 6px;
      padding-bottom: 4px;
    }
  }

  .best-product__option {
    width: 33.5%;;
  }

  .best-product__illustration {
    width: 50%;
  }

  .best-product__price {
    font-size: 20px;
  }

  .best-product__order-btn {
    width: 100%;
    margin-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .best-product {
    padding-top: 0;
    margin-top: 50px;
    margin-bottom: 73px;
  }

  .best-product__card {
    position: relative;
  }

  .best-product__title {
    position: absolute;
    justify-content: flex-start;
    width: 100%;
  }

  .best-product__product-name {
    order: 2;
    margin-top: 53px;

    @include ttl-style-desktop;
  }

  .best-product__subtitle {
    order: 1;
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 53px;
  }

  .best-product__description {
    width: 64.84%;
    margin-top: 167px;
    margin-left: 175px;
  }

  .best-product__text {
    margin-bottom: 66px;
  }

  .best-product__footer {
    width: 64.84%;
    margin-top: 30px;
    margin-left: 175px;
  }
}
