.color-list {
  @include list-unstyle;

  margin-top: 6px;
}

.color-list__item {
  margin-bottom: 37px;
}

.color-list__input {
  display: none;
}

.color-list__label {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  width: 77%;
  padding-left: 60px;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid $firmcolor;
    cursor: pointer;
  }

  &:hover::before,
  &:focus::before {
    border-color: $blgreen;
  }

  &:active::before {
    border-color: #e1e1e1;
  }
}

.color-list__input:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .color-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8px;
  }

  .color-list__item {
    width: 50%;
    margin-bottom: 46px;
  }

  .color-list__label {
    font-size: 19px;
    padding-left: 80px;

    &::before {
      top: -15px;
      width: 54px;
      height: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .color-list {
    justify-content: space-between;
  }

  .color-list__item {
    width: 26%;
  }
}
