.features {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 13px;
  margin-top: 34px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 7px;
    background-image: url("../img/zigzag-line-mobile.png");
  }
}

.features__title {
  @include ttl-style;

  margin-bottom: 32px;
}

.features__icon {
  fill: $blgreen;
}

.features__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  color: #2E2121;
  margin-bottom: 0;
}

.features__block {
  margin-bottom: 31px;

  &--flower {
    .features__icon {
      margin-left: 8px;
    }

    .features__text {
      width: 75%;
      margin-top: 11px;
    }
  }

  &--money {
    .features__text {
      width: 80%;
    }
  }

  &--heart {
    .features__icon {
      margin-left: 7px;
    }

    .features__text {
      width: 75%;
    }
  }

  &--ball {
    .features__icon {
      margin-left: 3px;
    }

    .features__text {
      width: 85%;
    }
  }

  &--gift {
    .features__icon {
      margin-left: 3px;
    }

    .features__text {
      width: 80%;
    }
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 83px;
    margin-bottom: 27px;
    margin-top: 0;

    &::before {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.png");
    }
  }

  .features__title {
    margin-top: 0;
    margin-bottom: 51px;

    @include ttl-style-tablet;
  }

  .features__wrapper {
    display: flex;
  }

  .features__column {
    width: 50%;
  }

  .features__block {
    margin-bottom: 56px;

    &--flower {
      .features__text {
        width: 65%;
      }
    }

    &--money {
      .features__text {
        width: 75%;
      }
    }

    &--heart {
      .features__text {
        width: 70%;
      }
    }

    &--ball {
      .features__text {
        margin-top: 11px;
      }
    }

    &--rocket {
      .features__icon {
        margin-top: 7px;
      }
    }
  }

  .features__text {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 36px;

    &::before {
      height: 23px;
      background-image: url("../img/bg-zigzag-line.svg");
    }
  }

  .features__title,
  .features__wrapper {
    padding-left: 175px;
    padding-right: 175px;
  }

  .features__title {
    @include ttl-style-desktop;
  }

  .features__block {
    &--money {
      .features__text {
        width: 70%;
      }
    }

    &--heart {
      .features__text {
        width: 65%;
        margin-top: 14px;
      }

      .features__icon {
        margin-left: 12px;
        margin-top: 9px;
      }
    }
  }
}
