.fields {
  padding-top: 15px;
}

.fields__text {
  font-size: 13px;
  margin-top: 8px;
}

.fields__set {
  position: relative;
  padding-top: 35px;
  margin-top: 37px;
  border-top: 1px solid $blgreen;
}

.fields__set--radio {
  margin-top: 32px;
}

.fields__set--checkboxes {
  margin-top: 48px;
}

.fields__set--personal {
  margin-top: 46px;
}

.fields__set--contacts {
  padding-top: 0;
  margin-top: 41px;
  border: none;

  .fields__title {
    top: -10px;
  }
}


.fields__title {
  position: absolute;
  top: -27px;
  left: 0;
  display: inline-block;
  width: 60px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  color: $blgreen;
  text-transform: uppercase;
  background-color: #ffffff;
}

.fields__line {
  margin-bottom: 23px;
}

.fields__label {
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}

.fields__textfield {
  font-family: inherit;
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: $blgreen;
  }
}

.fields__contacts-block {
  position: relative;
  padding-top: 20px;
  margin-bottom: 41px;
  border-top: 1px solid $blgreen;

  .fields__box {
    position: relative;
  }

  .fields__contact-icon {
    position: absolute;
    bottom: 10px;
    right: 0;
    display: inline-block;
    fill: #cccccc;
  }

  &--mail {
    .fields__title {
      width: 85px;
    }
  }

  .fields__textfield {
    &:hover + .fields__contact-icon,
    &:focus + .fields__contact-icon,
    &:active + .fields__contact-icon {
      fill: $blgreen;
    }
  }
}

.fields__textarea {
  font-family: inherit;
  width: 100%;
  height: 140px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $firmcolor;
  resize: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border-color: $blgreen;
  }
}

.fields__button-block {
  margin-bottom: 55px;
}

.fields__note {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 26px;
}

.fields__button {
  font-size: 17px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .fields {
    padding-top: 45px;
  }

  .fields__text {
    font-size: 17px;
    margin-top: 15px;
  }

  .fields__set {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    border-top: none;

    .fields__title {
      position: static;
      width: 25%;
    }
  }

  .fields__set--grey {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f1f1f1;

    .fields__title {
      background-color: #f1f1f1;
    }
  }

  .fields__set--radio {
    margin-top: 8px;

    .fields__title {
      margin-top: 8px;
    }
  }

  .fields__set--checkboxes {
    padding-bottom: 16px;
    margin-top: 14px;
  }

  .fields__set--personal {
    margin-top: 2px;

    .fields__label {
      font-size: 19px;
    }
  }

  .fields__textfield {
    height: 50px;
    font-size: 20px;
    padding-left: 14px;
  }

  .fields__box {
    width: 75%;
  }

  .fields__line {
    display: flex;
    align-items: center;
    margin-bottom: 26px;

    .fields__label {
      padding-right: 28px;
    }
  }

  .fields__set--contacts {
    flex-direction: column;
    padding-bottom: 27px;
    margin-top: 23px;

    .fields__title {
      margin-top: 16px;
    }
  }

  .fields__contacts-block {
    display: flex;
    border-top: none;
    padding-top: 3px;
    margin-bottom: 23px;

    .fields__textfield {
      background-color: #f1f1f1;
    }

    .fields__contact-icon {
      right: 23px;
    }
  }

  .fields__set--description {
    padding-top: 0;
    margin-top: 50px;
  }

  .fields__textarea {
    font-size: 19px;
  }

  .fields__button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 41px;
  }

  .fields__button {
    order: 1;
    width: 230px;
  }

  .fields__note {
    order: 2;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .fields__text,
  .fields__button-block {
    padding-left: 175px;
    padding-right: 175px;
  }

  .fields__set {
    padding-right: 175px;

    &--grey {
      padding-right: 225px;
    }

    .fields__title {
      width: 20.24%;
    }
  }

  .fields__button-block {
    width: 96%;
  }
}
