.index-head {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -19%;
}

.index-head__breadcrumbs {
  display: none;
}

.index-head__top {
  text-align: center;
}

.index-head__title {
  @include ttl-style;

  font-size: 27px;
  width: 95%;
  padding-top: 70px;
  padding-bottom: 120px;
  margin: 0;
}

.index-head__button {
  display: block;

  @include lr-padding-reset;

  &--interior {
    background-color: $blgreen;
  }

  &--toys {
    background-color: $d-blgreen;
  }

  &:hover .index-head__btn-title,
  &:focus .index-head__btn-title,
  &:hover .index-head__btn-icon,
  &:focus .index-head__btn-icon {
    opacity: 0.3;
  }
}

.index-head__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.index-head__btn-title {
  font-size: 19px;
  color: #ffffff;
  width: 37.5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.index-head__btn-icon {
  fill: #3bb09d;
}

@media (min-width: $tablet-width) {
  .index-head {
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .index-head__breadcrumbs {
    display: block;
  }

  .index-head__list {
    display: none;
  }

  .index-head__title {
    padding-top: 100px;
    padding-bottom: 350px;

    @include ttl-style-tablet;
  }

  .index-head__buttons {
    display: flex;
    padding-bottom: 20px;
  }

  .index-head__button {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }

  .index-head__btn-title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .index-head {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 50% -20px;
  }

  .index-head__title {
    padding-top: 150px;
    padding-bottom: 355px;
  }
}
