.modal {
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid $border-color;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 #c6c6c6;
}

@keyframes jump {
  0% {
    transform: translateY(-100%);
  }

  10% {
    transform: translateY(-40%);
  }

  20% {
    transform: translateY(20%);
  }

  40% {
    transform: translateY(-10%);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.modal--show {
  display: block;
  height: auto;
  animation-name: jump;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}

.modal--close {
  display: none;
}

.modal__head {
  position: relative;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  margin: 20px auto;
}

.modal__close-button {
  position: absolute;
  right: 0;
  top: 4px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.modal__text {
  text-align: center;
}

.modal__list {
  display: flex;
  justify-content: space-between;

  @include list-unstyle;
}

.modal__input {
  display: none;
}

.modal__label {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  width: 82px;
  height: 50px;
  padding-top: 15px;
  border: 2px solid $border-color;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #c7c7c7;
  }

  &:active {
    border-color: $blgreen;
  }
}

.modal__input:checked + label {
  border-color: $blgreen;
}

.modal__button {
  font-family: inherit;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
  background-color: $blgreen;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 570px;

    .container {
      padding-left: 110px;
      padding-right: 110px;
    }
  }

  .modal--success {
    width: 470px;
  }

  .modal__title {
    width: 100%;
  }

  .modal__close-button {
    right: -85px;
    top: 0;
  }

  .modal__label {
    width: 112px;
  }
}
