.page-head {
  background-color: #f1f1f1;
}

.page-head__title {
  @include ttl-style;

  font-size: 27px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 75px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-head {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("../img/zigzag-fill-tablet.png");
    }
  }

  .page-head__title {
    padding-top: 94px;
    padding-bottom: 92px;

    @include ttl-style-tablet;
  }
}

@media (min-width: $desktop-width) {
  .page-head {
    &::after {
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .page-head__title {
    font-size: 53px;
    padding-bottom: 126px;
  }
}
