.production {
  position: relative;
  padding-top: 80px;
  margin-bottom: 60px;
  border: 1px solid $border-color;
}

.production__notice {
  padding-left: 35px;
  padding-right: 35px;
}

.production__head {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.production__title-icon {
  fill: $blgreen;
}

.production__title {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  margin-left: 20px;
  margin-top: 25px;
}

.production__video {
  display: flex;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.production__icon-play {
  margin: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

.production__footer {
  margin-bottom: 30px;
}

.production__button {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .production__notice {
    order: 2;
    padding-left: 43px;
    padding-right: 43px;
    margin-top: 30px;
  }

  .production__video {
    order: 1;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
  }

  .production__head {
    position: static;
    justify-content: flex-start;
  }

  .production__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .production__text {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .production__footer {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    flex-direction: row;
  }
  .production__video {
    width: 64.95%;
  }

  .production__notice {
    width: 35.05%;
    padding-left: 73px;
    padding-right: 60px;
  }

  .production__head {
    flex-wrap: wrap;
  }

  .production__title {
    margin-left: 0;
    margin-top: 20px;
  }
}
