.product {
  margin-bottom: 30px;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 1px 5px 5px 0 #e8e8e8;
  }

  &:active {
    box-shadow: 0 2px 5px 0 #e8e8e8;
  }
}

.product__image {
  display: block;
  width: 100%;
}

.product__wrapper {
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid #ececec;
}

.product__title {
  font-size: 17px;
  color: #000000;
  margin-top: 28px;
  margin-bottom: 7px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__description {
  font-size: 13px;
  padding-bottom: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 28px;
  border-top: 1px solid $border-color;
}

.product__price {
  color: #000000;
}

.product__order-button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover .product__cart-icon,
  &:focus .product__cart-icon {
    fill: $blgreen;
  }

  &:active .product__cart-icon {
    opacity: 0.3;
  }
}

.product__cart-icon {
  fill: #cccccc;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    margin-bottom: 54px;
  }

  .product__illustration {
    width: 50%;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid $border-color;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    width: 85%;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .product__description {
    font-size: 15px;
  }

  .product__footer {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 19px;
    margin-top: auto;
    margin-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;
    flex-basis: calc(33.33% - 34px);
    margin-right: 51px;
  }

  .product__illustration {
    width: 100%;
  }

  .product__wrapper {
    width: 100%;
  }

  .product__head {
    min-height: 123px;
  }

  .product__title {
    width: 90%;
    margin-bottom: 0;
  }

  .product__description {
    padding-bottom: 15px;
    margin-top: 6px;
  }

  .product__footer {
    padding-left: 0;
  }
}
