.reviews__title {
  @include ttl-style;
}

.reviews__author {
  color: #000000;
}

.reviews__navigation {
  display: flex;
}

.reviews__nav-button {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border: 1px solid $border-color;
  outline: none;
  cursor: pointer;

  &:hover .reviews__nav-button-icon,
  &:focus .reviews__nav-button-icon {
    opacity: 0.6;
  }

  &:active .reviews__nav-button-icon {
    opacity: 0.3;
  }
}

.reviews__button {
  width: 100%;
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    margin-bottom: 65px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    padding-top: 80px;
    margin-top: 0;

    @include ttl-style-tablet;
  }

  .reviews__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reviews__navigation {
    justify-content: space-around;
    width: 160px;
  }

  .reviews__nav-button {
    border: none;
  }

  .reviews__button {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 175px;
  }
}
