.type-list {
  @include list-unstyle;

  margin-top: 7px;
  margin-bottom: 48px;
}

.type-list__item {
  margin-bottom: 18px;
}

.type-list__input {
  display: none;
}

.type-list__label {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  width: 85%;
  padding-left: 60px;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid $firmcolor;
    border-radius: 50%;
    cursor: pointer;
  }

  &:hover::before,
  &:focus::before {
    border-color: $blgreen;
  }

  &:active::before {
    border-color: #e1e1e1;
  }
}

.type-list__input:checked + label::before {
  background-image: url("../img/radio-pin.png");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .type-list {
    margin-top: 0;
  }

  .type-list__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .type-list__label {
    font-size: 19px;
    padding-left: 80px;

    &::before {
      top: -15px;
      width: 52px;
      height: 52px;
    }
  }

  .type-list__input:checked + label::before {
    background-image: url("../img/radio-pin-tablet.png");
  }
}
