.breadcrumbs {
  display: none;

  @include list-unstyle;
}

@media (min-width: $desktop-width) {
  .breadcrumbs {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 104px;
    z-index: 10;
    width: 38.1%;
  }

  .breadcrumbs__item {
    text-align: left;
    width: 180px;
  }

  .breadcrumbs__item-link {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
