.main-nav__menu {
  text-align: center;

  @include list-unstyle;
}

.main-nav__item {
  display: block;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}

.main-nav__item--search,
.main-nav__item--cart {
  position: relative;
}

.main-nav__icon {
  position: absolute;
  left: 30px;
  top: 34px;
  fill: #d3d2d2;
}

.main-nav__link {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  vertical-align: middle;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:hover .main-nav__icon,
  &:focus .main-nav__icon {
    fill: $blgreen;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item--search {
  .main-nav__caption {
    margin-left: -20px;
  }
}

.main-nav__item--cart {
  .main-nav__caption {
    margin-left: 15px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav--pages {
    position: absolute;
    top: 102px;
    left: 0;
  }

  .main-nav__menu {
    display: flex;
  }

  .main-nav--pages {
    .main-nav__item {
      text-align: left;
      width: 167px;
    }

    .main-nav__link {
      font-size: 15px;
    }
  }

  .main-nav--user {
    .main-nav__item {
      padding-top: 31px;
      padding-bottom: 27px;
    }
  }

  .main-nav__item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  .main-nav__item--catalog,
  .main-nav__item--form {
  }

  .main-nav__link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-nav__item--search {
    width: 23.63%;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

    .main-nav__caption {
      display: none;
    }
  }

  .main-nav__item--cart {
    margin-left: auto;
  }

  .main-nav__icon {
    position: static;

    &--cart {
      margin-right: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 40.48%;
  }

  .main-nav--pages {
    position: static;
  }

  .main-nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-nav--pages {
    .main-nav__menu {
      justify-content: flex-start;
    }

    .main-nav__item {
      width: 44%;

      &--catalog {
        border-right: 1px solid $border-color;
      }

      &--form {
        text-align: right;
      }
    }

    .main-nav__link {
      font-size: 17px;
    }
  }

  .main-nav--user {
    .main-nav__menu {
      justify-content: flex-end;
    }

    .main-nav__item {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .main-nav__item--search {
    width: 19.76%;
    border-left: 1px solid $border-color;
  }

  .main-nav__item--cart {
    width: 62.35%;
    margin-left: 0;

    .main-nav__link {
      text-align: right;
    }
  }

  .main-nav__link {
    padding-top: 28px;
    padding-bottom: 31px;
  }

  .main-nav__link--active {
    background-image: linear-gradient(to bottom, transparent 77px, #ffffff 77px, #ffffff 78px, transparent 78px);

    &:hover,
    &:focus {
      color: #ffffff;
    }

    &:active {
      opacity: 1;
    }
  }
}
