.page-header {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}

.page-header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid $border-color;

  @include lr-padding-reset;
}


.page-header__logo {
  margin: 0 auto;
  padding-left: 50px;
  outline: none;

  &:hover .page-header__logo-icon,
  &:focus .page-header__logo-icon {
    opacity: 0.7;
  }

  &:active .page-header__logo-icon {
    opacity: 0.3;
  }
}

.page-header__logo-icon--tablet,
.page-header__logo-icon--desktop {
  display: none;
}

.page-header__logo--nojs {
  padding-left: 0;
}

.page-header__toggle {
  position: relative;
  box-sizing: content-box;
  width: 20px;
  height: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.page-header__toggle--nojs {
  display: none;
}

.page-header__toggle-icon {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: $firmcolor;
  transition: 0.5s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    transition: 0.5s;
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 8px;
  }
}

.page-header__toggle-icon--cross {
    background-color: transparent;
    transition: 0.5s;

  &::before {
    transform: translateY(0) rotate(45deg);
    transition: 0.5s;
  }

  &::after {
    transform: translateY(-10px) rotate(-45deg);
    transition: 0.5s;
  }
}

.page-header__nav-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffffff;
}


.page-header__nav-wrapper--opened {
  display: block;

  .main-nav__item {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

.page-header__nav-wrapper--closed {
  display: none;
}

.page-header__nav-wrapper--nojs {
  position: static;
  display: block;
}

.page-header__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 90px;
    border-bottom: 1px solid $border-color;
  }
  .page-header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__title {
    justify-content: flex-start;
    width: 48.06%;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .page-header__logo {
    padding-left: 0;
    margin-left: 0;
    margin-right: auto;
  }

  .page-header__logo-icon--mobile {
    display: none;
  }

  .page-header__logo-icon--tablet {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav-wrapper {
    position: static;
    display: block;
    background-color: transparent;
    width: 51.94%;
  }

  .page-header__note {
    display: block;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 105px;
    font-size: 15px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__title {
    position: absolute;
    left: 43%;
    right: 0;
    top: 0;
    z-index: 200;
    width: 19.05%;
    padding-top: 8px;
    padding-bottom: 0;
    border-right: none;
  }

  .page-header__logo-icon--tablet {
    display: none;
  }

  .page-header__logo-icon--desktop {
    display: block;
  }

  .page-header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .page-header__note {
    top: 104px;
  }
}
